@import '../../Varibless/Varibles.scss';
@import '../../Mixins/Mixin.scss';

.special-offer {
  padding: 180px 0;
  background-color: var(--bg-color);
  transition: background-color 0.4s ease-in-out;

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .wrp {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    background-color: transparent;
    gap: 30px;
  }

  .card {
    position: relative;
    height: 300px;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    transition: all 0.4s ease;
    background-color: var(--main-bg);

    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 28px rgba(0, 0, 0, 0.35);
    }

    /* 🔹 Chap tomondan 40% oq quti */
   .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background: linear-gradient(
    to right,
    var(--main-bg) 30%,
    rgba(0, 0, 0, 0) 100%
  );
  padding: 25px;
  border-radius: 20px 0 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  transition: background 0.8s ease; 

      .title {
        @include font(700, 22, 1.3, var(--text-color));
        margin-bottom: 10px;
      }

      .text {
        @include font(400, 16, 1.5, var(--text-color));
        margin-bottom: 20px;
      }

      .btn {
        display: inline-block;
        background-color: var(--btn-bg);
        border: none;
        padding: 10px 22px;
        border-radius: 8px;
        color: var(--btn-color);
        cursor: pointer;
        font-weight: 600;
        font-size: 15px;
        transition: background-color 0.3s ease, transform 0.2s ease;

        &:hover {
          background-color: var(--btn-hover-bg);
          transform: scale(1.05);
        }
      }
    }
  }
}
