@import './Varibless/Varibles.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    list-style: none;
    outline: none;
    border: none;
    scroll-behavior: smooth;
    transition: all 0.3s ease;
      font-family: "Roboto", sans-serif;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}