@import '../../Varibless/Varibles.scss';
@import '../../Mixins/Mixin.scss';

.my-swiper-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--bg-color);
  padding: 180px 0 50px;

  .container {
    max-width: 1440px;
    height: 470px;
    padding: 70px 20px;
    margin: 0 auto;
    background-image: url("src/Images/Png/1059 2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
 overflow: hidden; 
    .swiper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      .titles {
        display: flex;
        flex-direction: column;
        width: 500px;

        .slide__title {
          @include font(700, 35, 1.2, var(--black));
          margin-bottom: 10px;
        }

        .subtitle {
          @include font(500, 20, 1.2, var(--subtitle-color));
          margin-bottom: 20px;
        }
      }

      .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        transition: transform 0.3s ease;
        background-color: transparent;

        .slide-item {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 550px;
          border-radius: 12px;
          padding: 20px;
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
          transition: all 0.3s ease;

          .images {
            display: flex;
            align-items: center;
            justify-content: center;

            .img1 {
              display: flex;
              width: 400px;
              height: auto;
              border: none;
              box-shadow: none;
              z-index: 1000;
            }

            .img2 {
              display: flex;
              position: absolute;
              width: 300px;
              height: auto;
              left: 280px;
              bottom: 90px;
              border-radius: 10px;
              z-index: 999;
            }

            .img3 {
              display: flex;
              position: absolute;
              width: 250px;
              height: auto;
              left: 430px;
              bottom: 110px;
              object-fit: cover;
              border-radius: 10px;
            }
          }

          p {
            margin-top: 12px;
            font-weight: 600;
            color: var(--black);
            text-align: center;
          }
        }
      }
    }

    .swiper-pagination {
      width: auto;
      display: flex;
      position: absolute;
      left: 180px;
      justify-content: center;
    }
  }
}






@media (max-width: 1300px) {
  .my-swiper-container {
    padding: 140px 0 30px;

    .container {
      width: 100%;
      padding: 0 15px;

      .swiper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .swiper-slide {
          width: 100% !important;
          display: flex !important;
          flex-direction: column !important;
          align-items: center;
          text-align: center;

          .titles {
            width: 100%;
            margin-bottom: 10px;
            .slide__title {
              @include font(700, 34, 1.2, var(--black));
            }
            .subtitle {
              @include font(500, 19.5, 1.2, var(--subtitle-color));
            }
          }

          .slide-item {
            width: 100%;

            .images {
              width: 100%;
              overflow: hidden; // faqat bitta rasm ko‘rsin
              display: flex;
              justify-content: center;
              margin-top: 100px;

              .img1 {
                width: 100%;      // slide kengligiga moslashadi
                max-width: 390px; // rasm kattaligi uchun limit
                height: auto;
                display:block;
              }
                   .img2 {
                display: block;
                left: 520px;
                width: 350px;
              }
                   .img3 {
                display: block;
                left: 690px;
              }
            }
          }
        }
      }

      .swiper-pagination {
        display: flex !important;
        justify-content: start;
        width: 100%;
        left: 0 !important;
      }
      p{
        font-size: 17px !important;
      }
    }
  }
}








@media (max-width: 1200px) {
  .my-swiper-container {
    padding: 140px 0 30px;

    .container {
      width: 100%;
      padding: 0 15px;

      .swiper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .swiper-slide {
          width: 100% !important;
          display: flex !important;
          flex-direction: column !important;
          align-items: center;
          text-align: center;

          .titles {
            width: 100%;
            margin-bottom: 10px;
            .slide__title {
              @include font(700, 33, 1.2, var(--black));
            }
            .subtitle {
              @include font(500, 19, 1.2, var(--subtitle-color));
            }
          }

          .slide-item {
            width: 100%;

            .images {
              width: 100%;
              overflow: hidden; // faqat bitta rasm ko‘rsin
              display: flex;
              justify-content: center;
              margin-top: 100px;

              .img1 {
                width: 100%;      // slide kengligiga moslashadi
                max-width: 370px; // rasm kattaligi uchun limit
                height: auto;
                display:block;
              }
                   .img2 {
                display: block;
                left: 480px;
                width: 350px;
              }
                   .img3 {
                display: block;
                left: 650px;
              }
            }
          }
        }
      }

      .swiper-pagination {
        display: flex !important;
        justify-content: start;
        width: 100%;
        left: 0 !important;
      }
      p{
        font-size: 17px !important;
      }
    }
  }
}







@media (max-width: 1100px) {
  .my-swiper-container {
    padding: 160px 0 40px;

    .container {
      width: 100%;
      padding: 0 15px;

      .swiper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .swiper-slide {
          width: 100% !important;
          display: flex !important;
          flex-direction: column !important;
          align-items: center;
          text-align: center;

          .titles {
            width: 100%;
            margin-bottom: 10px;
            .slide__title {
              @include font(700, 33, 1.2, var(--black));
            }
            .subtitle {
              @include font(500, 19, 1.2, var(--subtitle-color));
            }
          }

          .slide-item {
            width: 100%;

            .images {
              width: 100%;
              overflow: hidden; // faqat bitta rasm ko‘rsin
              display: flex;
              justify-content: center;
              margin-top: 100px;

              .img1 {
                width: 100%;      // slide kengligiga moslashadi
                max-width: 370px; // rasm kattaligi uchun limit
                height: auto;
                display:block;
              }
                   .img2 {
                display: block;
                left: 410px;
                width: 350px;
              }
                   .img3 {
                display: block;
                left: 600px;
              }
            }
          }
        }
      }

      .swiper-pagination {
        display: flex !important;
        justify-content: start;
        width: 100%;
        left: 0 !important;
      }
      p{
        font-size: 17px !important;
      }
    }
  }
}




@media (max-width: 900px) {
  .my-swiper-container {
    padding: 160px 0 40px;

    .container {
      width: 100%;
      padding: 0 15px;
height: 440px;
      .swiper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .swiper-slide {
          width: 100% !important;
          display: flex !important;
          flex-direction: column !important;
          align-items: center;
          text-align: center;

          .titles {
            width: 100%;
            margin-bottom: 10px;
            .slide__title {
              @include font(700, 32, 1.2, var(--black));
            }
            .subtitle {
              @include font(500, 18, 1.2, var(--subtitle-color));
            }
          }

          .slide-item {
            width: 100%;

            .images {
              width: 100%;
              overflow: hidden; // faqat bitta rasm ko‘rsin
              display: flex;
              justify-content: center;
              margin-top: 100px;

              .img1 {
                width: 100%;      // slide kengligiga moslashadi
                max-width: 370px; // rasm kattaligi uchun limit
                height: auto;
                display:block;
              }
                   .img2 {
                display: block;
                left: 370px;
                width: 350px;
              }
                   .img3 {
                display: none;
              }
            }
          }
        }
      }

      .swiper-pagination {
        display: flex !important;
        justify-content: start;
        width: 100%;
        left: 0 !important;
      }
      p{
        font-size: 16px !important;
      }
    }
  }
}











@media (max-width: 769px) {
  .my-swiper-container {
    padding: 100px 0 40px;

    .container {
      width: 100%;
      padding: 0 15px;
height: 500px;
      .swiper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .swiper-slide {
          width: 100% !important;
          display: flex !important;
          flex-direction: column !important;
          align-items: center;
          text-align: center;

          .titles {
            width: 100%;
            margin-bottom: 10px;
            .slide__title {
              @include font(700, 30, 1.2, var(--black));
            }
            .subtitle {
              @include font(500, 17, 1.2, var(--subtitle-color));
            }
          }

          .slide-item {
            width: 100%;

            .images {
              width: 100%;
              overflow: hidden; // faqat bitta rasm ko‘rsin
              display: flex;
              justify-content: center;
              margin-top: 100px;

              .img1 {
                width: 100%;      // slide kengligiga moslashadi
                max-width: 350px; // rasm kattaligi uchun limit
                height: auto;
                display:block;
              }
                   .img2 {
                display: none;
              }
                   .img3 {
                display: none;
              }
            }
          }
        }
      }

      .swiper-pagination {
        display: flex !important;
        justify-content: start;
        width: 100%;
        left: 0 !important;
      }
      p{
        font-size: 15px !important;
      }
    }
  }
}




@media (max-width: 447px) {
  .my-swiper-container {
    padding: 100px 0 40px;

    .container {
      width: 100%;
      padding: 0 15px;

      .swiper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .swiper-slide {
          width: 100% !important;
          display: flex !important;
          flex-direction: column !important;
          align-items: center;
          text-align: center;

          .titles {
            width: 100%;
            margin-bottom: 10px;
            .slide__title {
              @include font(700, 28, 1.2, var(--black));
            }
            .subtitle {
              @include font(500, 16, 1.2, var(--subtitle-color));
            }
          }

          .slide-item {
            width: 100%;

            .images {
              width: 100%;
              overflow: hidden; // faqat bitta rasm ko‘rsin
              display: flex;
              justify-content: center;

              .img1 {
                width: 100%;      // slide kengligiga moslashadi
                max-width: 350px; // rasm kattaligi uchun limit
                height: auto;
                display:block;
              }
                   .img2 {
                display: none;
              }
                   .img3 {
                display: none;
              }
            }
          }
        }
      }

      .swiper-pagination {
        display: flex !important;
        justify-content: start;
        width: 100%;
        left: 0 !important;
      }
      p{
        font-size: 15px !important;
      }
    }
  }
}


